// Define variables for your color scheme

// For example:
$red: #fd1015;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$light-blue: #c3f8ff;
$blue: #abd9ff;
$light-yellow: #fff6bf;
$yellow: #ffebad;
