// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #C3F8FF;
$blue: #ABD9FF;
$light-yellow: #FFF6BF;
$yellow: #FFEBAD;
