.float-button-user-edit {
  // position: fixed;
  // left: 5%;
  // bottom: 20px;
  float: left;
  border-radius: 12px;
  border: none;
  color: #FFF;
  box-shadow: 0px 4px 12px rgba($color: #000000, $alpha: 0.3);
  background-color: darken($purple, 10%);
  transition: all 0.2s ease-in-out;
  padding: 12px;
  width: 100%;
  z-index: 100;
  cursor: pointer;
  &:hover {
    color: #FFF;
    text-decoration: none;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.d-pop-up {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.edit-profile-pop-up {
  background-color: rgba($color: #000000, $alpha: 0.8);
  min-height: 100vh;

  position: fixed;
  top: 0;

  width: 100%;
  z-index: 2000;
}

.update-button {
  background-color: $green;

  color: #222222;
  border-radius: 8px;
  border: none;

  font-size: 20px;

  margin-bottom: 20px;
  padding: 10px 20px;

  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($color: $green, $amount: 10%);
    color: #222222;
  }
}

.cancel-button {
  background-color: $red;

  color: #222222;
  border-radius: 8px;
  border: none;

  font-size: 20px;

  margin-bottom: 20px;
  padding: 10px 20px;

  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($color: $red, $amount: 10%);
    color: #222222;
  }
}
