h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.card {
  border: none;
}

.edit-profile-button {
  position: fixed;
  top: 130px; /* Adjust the top position based on your navbar height */
  right: 154px;
  z-index: 10; /* Adjust the z-index as needed */
  background: linear-gradient(180deg, #ffffff, #f9f5fd);
  color: black;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background: linear-gradient(180deg, #ffffff, $purple);
    transform: scale(1.1);
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }
  i {
    font-size: 24px;
  }

  p {
    margin-top: 12px;
    font-size: 17px;
    text-align: center;
  }
}

.d-pop-up {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.edit-profile-pop-up {
  min-height: 100vh;

  padding: 20px 0;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 2000;

  .card {
    border-radius: 16px;
  }

  &-black {
    background-color: rgba($color: #000000, $alpha: 0.8);
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.update-button {
  background-color: $purple;

  color: #222222;
  border-radius: 8px;
  border: none;

  font-size: 20px;

  margin-bottom: 20px;
  padding: 10px 20px;

  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($color: $green, $amount: 10%);
    color: #222222;
  }
}

.cancel-button {
  background-color: rgb(81, 2, 2);

  color: white;
  border-radius: 8px;
  border: none;

  font-size: 20px;

  margin-bottom: 20px;
  padding: 10px 20px;

  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($color: $red, $amount: 10%);
    color: #222222;
  }
}
