<form class="search-bar container-fluid">
  <input type="text" placeholder="Use type to animate this"/>
  <button type="submit" class="btn">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
