.alert {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
  color: black;
  border: #000000 1px solid;
  font-weight: bold;
  border-radius: 12px;
  background-size: 10%;
}
