// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "search_bar";
@import "listing_card";
@import "booking_card";

@import "submit_button";
@import "form_inputs";

@import "./../config/colors";

body {
  background-color: $light-blue;
}

.listing_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
}

.listing_item:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.listing_item {
  width: 30%;
  height: auto;
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-item_link {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.listing-item_image {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
}

.listing-item_bg {
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
  border-radius: 15px;
}

.listing-item_content {
  padding: 8px;
  background-color: transparent;
}

.listing-item_title {
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.listing-item_body {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
}

.listing-item_detail {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
}

.listing-item_price,
.listing-item_location {
  font-weight: bold;
}

// Add hover state for the card
.listing-item_link:hover .listing-item_bg {
  background: transparent
}

// Responsive styles
@media only screen and (max-width: 979px) {
  .listing_item {
    flex-basis: calc(50% - 30px);
  }

  .listing-item_title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .listing_item {
    flex-basis: 100%;
  }

  .listing-item_title {
    font-size: 18px;
  }
}

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:10%;
	padding: 10px 0;
	bottom:20px;
	background-color:#B799FF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 4px 12px rgba($color: #000000, $alpha: 0.3)
}

.float:hover{
  color:#FFF;
  text-decoration:none;
  font-weight: bold
}

.my-float{
	margin-top:22px;
}
