@import "config/colors";

.submit-button {
  width: 20%;
  background: linear-gradient(180deg, #ffffff, #f9f5fd);
  color: black;
  border-radius: 12px;
  border: none;

  font-size: 20px;

  margin-bottom: 20px;
  padding: 10px 20px;

  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background: linear-gradient(180deg, #ffffff, $purple);
    transform: scale(1.1);
    color: black;
  }
}
